.page {
  text-align: left;
  margin: 10px;
}

.form {
  line-height: 40px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  overflow: hidden;
}

.form select, .form input {
  display: inline-block;
  width: 120px;
  line-height: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

.btn {
  background-color: #1b74c1;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  line-height: 20px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  padding: 5px;
  border: 1px solid #ccc;
}
